In [72]:
import textdistance as td
import os
import docx2txt, os
from docx import Document

resume = r'C:\Users\spsoft\Documents\New_folder(2)\docs'
# job_description = r"C:\Users\spsoft\Documents\New folder (2)\DS_jobdescription.docx"
job_description = docx2txt.process(r"C:\Users\spsoft\Documents\New_folder(2)\JD\DS_jobdescription.docx")
# print(job_description)
resumes = []
docs_ = []
for each in os.listdir(resume):
    resumes.append(each)
print(len(resumes))

for each in os.listdir(resume):
    docs = os.path.join(resume,each)
    docs_.append(docs)
print(docs_)


for each in os.listdir(resume):
    if each.endswith('.doc')  or each.endswith('.txt') or each.endswith('.pdf'):
        candidate_names = [x[:-4] for x in os.listdir(resume)]
        
    elif each.endswith('.docx'):
        candidate_names = [x[:-5] for x in os.listdir(resume)]
print(candidate_names)

def match(cv, job_description):
    j = td.jaccard.similarity(cv, job_description)
#     print(j)
    s = td.sorensen_dice.similarity(cv, job_description)
#     print(s)
    c = td.cosine.similarity(cv, job_description)
#     print(c)
    o = td.overlap.normalized_similarity(cv, job_description)
#     print(o)
    total = (j+s+c+o)/4
    print
#     total = (s+o)/2
#     print(total*100)
    return total*100

import textract
n = 0
y = []
for (root,dirs,files) in os.walk(resume):
    for files_ in files:
        cv = resume + "\\" + docs_[n]
        x = match(cv, job_description)
        y.append(x)
        n +=1
print(y)

5
['C:\\Users\\spsoft\\Documents\\New_folder(2)\\docs\\Anji Reddy Lingala_5+ Yrs_Data Scientist_Cyient_Hyd.docx', 'C:\\Users\\spsoft\\Documents\\New_folder(2)\\docs\\General_Purpose_Demo.docx', 'C:\\Users\\spsoft\\Documents\\New_folder(2)\\docs\\Kranthi_Resume.docx', 'C:\\Users\\spsoft\\Documents\\New_folder(2)\\docs\\Rack_Classification.docx', 'C:\\Users\\spsoft\\Documents\\New_folder(2)\\docs\\Vasanth_Resume.docx']
['Anji Reddy Lingala_5+ Yrs_Data Scientist_Cyient_Hyd', 'General_Purpose_Demo', 'Kranthi_Resume', 'Rack_Classification', 'Vasanth_Resume']
[27.37001258457478, 25.839164544799274, 25.623523472711522, 26.034525381180273, 25.335465109479195]

In [73]:
import pandas as pd

In [74]:
data = pd.DataFrame()

In [75]:
data["Candidate Name"] = candidate_names
data

                                      Candidate Name
0  Anji Reddy Lingala_5+ Yrs_Data Scientist_Cyien...
1                               General_Purpose_Demo
2                                     Kranthi_Resume
3                                Rack_Classification
4                                     Vasanth_Resume

In [77]:
data["Matching Percentage"] = y
data

                                      Candidate Name  Matching Percentage
0  Anji Reddy Lingala_5+ Yrs_Data Scientist_Cyien...            27.370013
1                               General_Purpose_Demo            25.839165
2                                     Kranthi_Resume            25.623523
3                                Rack_Classification            26.034525
4                                     Vasanth_Resume            25.335465